[Unit]
Description=Start haskellboard
After=bluetooth.target

[Service]
WorkingDirectory=/home/pi/haskellboard
Type=simple
User=root
ExecStart=/bin/bash start.sh
KillMode=process

[Install]
WantedBy=multi-user.target